.woocommerce-cart-form table.cart th, .woocommerce-cart-form table.cart td {
    text-align: center;
}

.woocommerce-cart-form table.cart th.product-remove,
.woocommerce-cart-form table.cart td.product-remove {
    width: 5%;
}

.woocommerce-cart-form table.cart th.product-name,
.woocommerce-cart-form table.cart td.product-name {
    width: 20%;
}

.woocommerce-cart-form table.cart th.product-price,
.woocommerce-cart-form table.cart td.product-price {
    width: 20%;
}

.woocommerce-cart-form table.cart th.product-quantity,
.woocommerce-cart-form table.cart td.product-quantity {
    width: 15%;
}